<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="PangyaEntities" connectionString="metadata=res://*/DataBase.EFPangya.csdl|res://*/DataBase.EFPangya.ssdl|res://*/DataBase.EFPangya.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cleudiana\sql;initial catalog=DB_Pangya;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<!--name file Read-->
  <appSettings>
    <add key="ServerConfig" value="Game.ini" />
    <add key="ChannelConfig" value="Channel.ini" />
  </appSettings>  
</configuration>